/*
Write CSS rule to set the width and height of box class to 200px, background color to "brown" and margin of 10px

Write a media query to target devices with width of 768px or more. In this media query align the div.box in a row. (hint: display: inline-block) 

Write a media query to target devices with width of 767px or less. In this media query align the div.box in a column and set the width and heigth to 100px. Also target the "container" class to set "margin: 0 auto"
 */
.box {
    width: 200px;
    height: 200px;
    background-color: brown;
    margin: 10px;
}

@media (min-width: 1240px) {
    .box {
        display: block;
        width: 100px;
        height: 100px;
        background-color: green;
    }
    .container {
        display: flex;
        flex: 1 0 auto;
        justify-content: space-between;
}  }

@media (max-width: 1240px) {
    .box {
        display: block;
        width: 100px;
        height: 100px;
        background-color: yellow;
    }
    .container {
        display: flex;
        flex: 1 0 auto;
        justify-content: space-between;
}  }

@media (max-width: 575px) {
    .box {
        display: block;
        width: 100px;
        height: 100px;
        background-color: red;
    }
    .container {
        display: flex;
        flex: 1 0 auto;
        justify-content: space-around;
}  }


